{
	"trailingComma": "all",
	"printWidth": 120,
	"tabWidth": 2,
	"semi": true,
  "endOfLine" : "lf",
	"bracketSpacing": true,
	"singleQuote": true,
	"useTabs": true,
	"jsxSingleQuote": true,
	"jsxBracketSameLine": true
}
